<div>
    <textarea name="options" id="options" class="text high"><mt:var name="options" escape="html"></textarea>
</div>
<mt:include name="cms/sub_form_preview_component.tmpl" component="SubForm" preview_bootup="return jQuery.mtSubForm.bootupCustomFieldPreview(this,'yaml')">
