<mt:if name="id">
    <mt:setvar name="page_title" value="<__trans phrase="Edit SubForm Schema">">
<mt:else>
    <mt:setvar name="page_title" value="<__trans phrase="Create SubForm Schema">">
</mt:if>

<$mt:setvar name="position_actions_bottom" value="1"$>

<mt:SetVarBlock name="system_msg" append="1">
<mt:if name="error">
  <mtapp:statusmsg
     id="generic-error"
     class="error"
     can_close="0">
    <mt:var name="error">
  </mtapp:statusmsg>
</mt:if>
<mt:if name="saved">
  <mtapp:statusmsg
     id="saved"
     class="success">
    <__trans phrase="Your changes have been saved.">
  </mtapp:statusmsg>
</mt:if>
</mt:SetVarBlock>

<mt:setvarblock name="jq_js_include" append="1">
(function($) {
    $.each(['#template', '#schema_html'], function(i,id) {
        var options = jQuery(id).attr('mt:editor-options');
        var editor_params = {
            lineNumbers: true,
            lineWrapping: false,
            tabMode: "default",
            indentUnit: 0,
            pollForIME: true,
            mode: "text/html"
        };
        if (options.match('lang:css')) {
            editor_params['mode'] = 'text/css';
        } else if (options.match('lang:javascript')) {
            editor_params['mode'] = 'text/javascript';
        }

        var editor = CodeMirror.fromTextArea(jQuery(id).get(0), editor_params);

        var syncEditor = function() {
            var wrapper = editor.getWrapperElement();
            if ( jQuery(wrapper).css('display') == 'none') {
                editor.setValue(jQuery(id).val());
            } else {
                jQuery(id).val(editor.getValue());
            }
        };

        $('button.save').click(function() {
            syncEditor();
        });
    });
})(jQuery);
</mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
<script type="text/javascript" src="<$mt:var name="static_uri"$>codemirror/lib/codemirror.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
<link rel="stylesheet" href="<$mt:var name="static_uri"$>codemirror/lib/codemirror.css">

<script type="text/javascript" src="<$mt:var name="static_uri"$>codemirror/mt/xml.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>codemirror/mt/javascript.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>codemirror/mt/css.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>codemirror/mt/htmlmixed.js?v=<mt:var name="mt_version_id" escape="URL">"></script>
<link rel="stylesheet" href="<$mt:var name="static_uri"$>codemirror/mt/mt.css">

<mt:include name="cms/sub_form_html_head.tmpl" component="SubForm">
<style type="text/css">
</style>
</mt:setvarblock>

<mt:setvar name="screen_group" value="custom_fields" />
<mt:include name="include/header.tmpl" id="header_include">

<form method="post" action="<mt:var name="script_url">" id="edit_sub_form_schema">
  <input type="hidden" id="blog-id" name="blog_id" value="<mt:var name="blog_id" escape="html">" />
  <input type="hidden" name="__mode" value="save" />
  <input type="hidden" name="_type" value="<mt:var name="object_type">" />
  <input type="hidden" name="id" value="<mt:var name="id" escape="html">" id="id" />
  <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
  <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

  <mtapp:settinggroup id="appned_grid_schema">

    <mtapp:setting
       id="label"
       label_class="top-label"
       label="<__trans phrase="Label">"
       required="1">
      <input type="text" name="name" id="name" class="text full required" maxlength="100" value="<mt:var name="name" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
       id="description"
       label_class="top-label"
       label="<__trans phrase="Description">">
       <textarea name="description" id="description" class="text low full" rows="5"><mt:var name="description" escape="html"></textarea>
    </mtapp:setting>

    <mtapp:setting
       id="schema_head"
       label_class="top-label"
       label="<__trans phrase="Schema HTML Head">"
       show_hint="1"
       hint="<__trans phrase='HTML only once includeding for each SubForm schema. Use to define JavaScript or CSS.'>">
       <textarea name="schema_head" id="schema_head" class="text high full" rows="5"><mt:var name="schema_head" escape="html"></textarea>
    </mtapp:setting>

    <mtapp:setting
       id="schema_html"
       label_class="top-label"
       label="<__trans phrase="Schema HTML">"
       show_hint="1"
       hint="<__trans phrase='HTML to render SubForm. You can use input, select or textarea element with name attribute.'>">
         <textarea name="template" id="schema_html" class="text high full monospace" spellcheck="false" mt:watch-change="1" mt:editor="codemirror" mt:editor-options="lang:css autocomplete:off" rows="5"><mt:var name="schema_html" escape="html"></textarea>
    </mtapp:setting>

    <mtapp:setting
      id="schema_preview"
      label_class="no-header"
      label="<__trans phrase='Preview'>">
        <mt:include name="cms/sub_form_preview_component.tmpl" component="SubForm" preview_bootup="return jQuery.mtSubForm.bootupSchemaPreview(this)">
    </mtapp:setting>

    <mtapp:setting
       id="template"
       label_class="top-label"
       label="<__trans phrase="Template">"
       show_hint="1"
       hint="<__trans phrase="This is not required. Template to build SubForm data with mt:SubFormBuild tag.">">
         <textarea name="template" id="template" class="text high full monospace" spellcheck="false" mt:watch-change="1" mt:editor="codemirror" mt:editor-options="lang:css autocomplete:off" rows="5"><mt:var name="template" escape="html"></textarea>
    </mtapp:setting>

  </mtapp:settinggroup>

  <mt:setvarblock name="action_buttons">
    <button
       type="submit"
       accesskey="s"
       title="<__trans phrase="Save changes to this schema (s)">"
       class="save action button primary"
       ><__trans phrase="Save Changes"></button>
  </mt:setvarblock>

  <mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">

</form>

<mt:include name="include/footer.tmpl">
