<link rel="stylesheet" href="<$MTStaticWebPath$>plugins/SubForm/mt-sub-form.css?v=<mt:var name='plugin_version'>" type="text/css" />
<script type="text/javascript" src="<$MTStaticWebPath$>plugins/SubForm/mt-sub-form.js?v=<mt:var name='plugin_version'>"></script>
